.b-1 {
	height: calc(100vh - 82px);
	color: #ffffff;
}
.b-1 .b-block {
	padding-top: 20px;
	padding-bottom: 20px;
	height: 100%;
	overflow: hidden;
}
.b-1-table {
	display: table;
	width: 100%;
	height: 100%;
}
.b-1-cell {
	display: table-cell;
	vertical-align: middle;
}
.b-1-text-item {
	display: block;
	text-align: right;
	padding-bottom: 6px;
	border-bottom: 5px solid rgb(206, 192, 164);
	margin-top: 30px;
	font-size: 22px;
}
.b-1-text a {
	display: block;
	padding: 20px 0;
	font-size: 22px;
	color: #ffffff;
	background-color: #efbf60;
	border-radius: 3px;
	margin-top: 20px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	position: relative;
}
.b-1-text a::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 0;
	background-color: rgb(169, 122, 30);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.b-1-text a:hover {
	background-color: rgb(217, 172, 83);
	text-decoration: none;
}
.b-1-text a:hover:before {
	height: 6px;
}

.b-2 {
	color: #ffffff;
	height: calc(100vh - 82px);
}
.b-2 .b-block {
	padding-top: 20px;
	padding-bottom: 20px;
	height: 100%;
	overflow: hidden;
}
.b-2-table {
	display: table;
	width: 100%;
	height: 100%;
}
.b-2-cell {
	display: table-cell;
	vertical-align: middle;
}
.b-2-text {
	max-width: 570px;
	margin-top: 20px;
	width: 100%;
	text-align: right;
}
.b-2-image {
	width: 100%;
	border: 1px solid #ffffff;
	margin-bottom: 30px;
	height: 220px;
}
.b-2-image img {
	display: block;
	width: 100%;
}
.b-2-text p {
	display: block;
	font-size: 16px;
	line-height: 1.2;
}




@media screen and (max-width: 1280px) {
	.b-1 {
		height: calc(100vh - 114px);
	}
	.b-2 {
		height: calc(100vh - 114px);
	}
	.b-1 .b-block, .b-2 .b-block {
		padding-top: 0;
		padding-bottom: 0;
	}
	.b-1-text-item {
		margin-top: 10px;
		font-size: 16px;
	}
	.b-1-text a {
		font-size: 16px;
		padding-top: 15px;
		padding-bottom: 15px;
		margin-top: 10px;
	}
	.b-2-image {
		height: 150px;
	}
}

@media screen and (max-width: 767px) {
	.b-1 {
		height: auto;
	}
	.b-2 {
		height: auto;
	}
	.b-1 .b-block {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.b-1 .main-caption {
		margin-bottom: 100vh;
	}
	.b-1-table, .b-2-table {
		display: block;
	}
	.b-1-cell, .b-2-cell {
		display: block;
		text-align: center;
	}
	.b-1-text {
		float: none !important;
		display: inline-block;
	}
	.b-1-text-item {
		text-align: center;
		margin-top: 30px;
	}
	.b-1-text a {
		margin-top: 20px;
	}
	.b-2-text {
		float: none !important;
		text-align: left;
		margin: 20px auto 0;
	}
	.b-2 .b-block {
		padding-top: 60px;
		padding-bottom: 20px;
	}
}